* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #E7E7E7;
}

#container {
  background: #E7E7E7;
  height: 1000px;
  background-image: url(../img/top-border.png);
  background-repeat: repeat-x;
}
#logo {
  position: relative;
  float: left;
  width: 30%;
  top: 6%;
  left: 8%;
}
#logo img {
  display: block;
}
#background {
  position: absolute;
  z-index: 0;
}
#background-text {
  position: absolute;
  z-index: 1;
  left: 4em;
  top: 7.25em;
}
#navigation {
  position: relative;
  overflow: auto;
  text-transform: uppercase;
  /*width: 1000px;*/
  width: 60%;
  color: #890101;
  top: 13%;
  left: 35%;
  /*display: inline-block;*/
}
#navigation .nav:first-child {
  margin-right: 5%;
}
#navigation .nav:last-child {
  margin-left: 5%;
}
#navigation .nav {
  position: relative;
  float: left;
  width: 30%;
  text-align: center;
  margin-bottom: 5%;
  text-decoration: none;

}
#navigation h3 {
    padding-bottom: 1.5em;
    font-size: 1em;
}
#navigation h6 {
  font-weight: lighter;
}
#navigation .nav:hover {
  color: red;
  cursor: pointer;
}
#navigation .nav:hover:after {
  content: url(../img/ornament.png);
  position: absolute;
  width: 35px;
  height: 35px;
  top: 63%;
  left: 50%;
  transform: translate(-50%,0);
  background: #E7E7E7;
}

#text-container h1 {
  text-align: center;
  font-weight: lighter;
  text-shadow: 1px 1px 1px white;
  line-height: 2em;
}

#text-container {
  position: relative;
  width: 60%;
  overflow: hidden;
  top: 10%;
  left: 35%;
}

#text-container p {
  line-height: 1.4em;
  margin-bottom: 2%;
}

#text-container hr {
  margin-top: 2%;
  margin-bottom: 2%;
}
#vicsvills {
  position: relative;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%,0);
}
#vicsvills h2 {
  position: relative;
  top: 0.3em;
  margin: 2%;
}
#vicsvills hr {
  width: 36%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
#pictures {
  position: relative;
  width: 60%;
  overflow: hidden;
  top: 10%;
  left: 35%;
}
#pictures img {
  /*display: inline-block;*/
  border-radius: 5px;
  box-shadow: 0px 3px 5px #333;
  /*width: 14.7%;*/
  /*margin-right: 1%;
  margin-left: 1%;*/
  max-width: 100%;
}
#pictures .person:first-child {
  margin-right: 1%;
  margin-left: 0;
}
#pictures .person:last-child {
  margin-left: 1%;
  margin-right: 0;
}
.person {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 14.5%;
  margin-right: 1%;
  margin-left: 1%;
    color: #890101;
}
.person h3 {
    padding-bottom: 1.5em;
    font-size: 1em;
}
.person h6 {
  margin-top: 1em;

  font-weight: lighter;
}
#footer {
  text-align: center;
  position: relative;
  width: 60%;
  overflow: hidden;
  top: 10%;
  left: 35%;
  font-size: 0.8em;
}
#footer img {
  width: 50%;
  height: 40px;
  object-fit: cover;
}
a {
  color: #890101;
 text-decoration: none;
}
